/* Icon in the Nav Section */
.icon-sm{
    font-size: 2rem;
}

.image-lg{
    width: 9rem;
    height: 9rem;
    object-fit:  cover;
}

.fa-heart{
    font-size: 1.5rem;
}
.small{
    font-size: 1.0rem;
}
.icon-lg{
    font-size: 9rem;
}

/* User profile image */
.grid-img{
    width: 100%;
    height: 300px;
    /* Hight is not dynaic. Optimized for widescreen */
    object-fit: cover;
}

.avatar-sm{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
.avatar-lg{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

/* Medium Icon */
.icon-md{
    font-size:3.5rem;
}
.avatar-md{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}
